@model IEnumerable<Produto>
@{
    Layout = "_Layout";
}
<a type="button" class="btn btn-primary" asp-controller="Produto" asp-action="Cadastrar">Cadastrar</a>
<br />
<br />
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Código</th>
            <th scope="col">Produto</th>
            <th scope="col">Descrição</th>
            <th scope="col">Categoria</th>
            <th scope="col">Preço</th>
            <th scope="col">Fornecedor</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        
                <tr>
                    <th scope="row">1</th>
                    <td>@item.ProdutoId</td>
                    <td>@item.Nome</td>
                    <td>@item.Descricao</td>
                    <td>Não existe</td>
                    <td>@item.Preco</td>
                    <td>Não existe</td>
                    <td>
                        <a type="button" asp-route-ProdutoId="@item.ProdutoId" asp-action="Edit" class="btn btn-primary">Editar</a>
                        <a type="button" id="Salvar" asp-route-ProdutoId="@item.ProdutoId" asp-action="Excluir" onclick="Sucesso()" class="btn btn-danger">Excluir</a>
                        <a type="button" asp-route-ProdutoId="@item.ProdutoId" asp-action="Info" class="btn btn-primary">Info</a>
                    </td>

                </tr>
      

        }
    </tbody>



</table>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $('#Salvar').click(function () {
        var url = "/Produto/Index";
        $.post(url, { Nome: nome }, function (data) {
            $("#msg").html(data);
        });
    })
</script>

